* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: rgb(41, 41, 41);
    max-width: 100%
}

.red {
    color: red
}

.green {
    color: green;
}

.white {
    color: #fff;
}

.space {
    padding: 10px;
}

.header, .hero--image, .main--button, .main--wallet, .main--score {
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.438);
    border-radius: 15px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 20px;
    height: 75px;
}

.header--image {
    height: 200%;
    margin-left: 10px;
}

.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 100%;
    max-width: 1500px;
}

.hero--image, .hero--image:hover {
    transition-duration: 500ms;
}

.hero--image {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hero--image:hover {
    width: 85%;
    background-color: rgba(63, 63, 63, 0.295);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.main--button {
    margin-top: 10px;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    background: none;
    cursor: pointer;
    border: 1px solid lightgray;
    color: #fff;
}

.main--button:hover {
    background: rgba(63, 63, 63, 0.295);
    padding: 12px;
}

.main--button, .main--button:hover, .main--wallet, .main--score, .main--score:hover, .main--score-progress::-webkit-progress-value {
    transition-duration: 500ms;
}

.main>h1 {
    color: #fff;
    font-weight: lighter;
}

.main--wallet:hover, .main--score:hover {
    background-color: rgba(63, 63, 63, 0.295);
}

.main--wallet-active {
    color: #fff;
    margin-left: 10px;
}

.main--score, .main--wallet {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 87%;
}

.main--score-numbers {
    margin: 10px;
    cursor: context-menu;
    color: #fff;
    font-size: 20px;
}

.main--score-progress {
    border-radius: 7px;
    width: 80%;
    height: 20px;
    box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 ) inset;
}

.main--score-progress::-webkit-progress-bar {
    background-color: rgb(184, 184, 184);
    border-radius: 7px;
}

.main--score-progress::-webkit-progress-value {
    background-color: rgb(23, 199, 90);
    border-radius: 7px;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.footer--div {
    margin-left: auto;
    margin-right: auto;
    padding: 5px 10px 5px 10px
}

.footer--text {
    color: #fff;
}

.footer--text-s {
    color: rgba(180, 180, 180, 0.979);
    font-size: 10px;
}

.footer--line {
    border: 0.2px solid gray
}

.footer--div:hover {
    background: rgba(63, 63, 63, 0.295);
}